{% extends "base.html.twig" %}

{% block body %}
    <p>{{program.title}}</p>
    <p>{{season.number}}</p>
    <p>{{episode.number}} {{episode.title}}</p>
    <p>{{episode.synopsis}}</p>
{% endblock %}