{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <a class="btn btn-primary fixed-bottom mb-5 w-25" href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

    <h1 class="text-center">Toutes les séries de la table program : </h1>

    {% for program in programs %}
        <div class="border p-5 m-1 w-50 mx-auto text-center bg-danger">
            <h1>{{ loop.index }} - {{ program.title }}</h1> 
                {% if program.category is null %}
                    <p>Pas de catégorie</p>
                {% else %}
                <h3>Catégorie : {{ program.category.name }}</h3>
                {% endif %}
                
            <p>{{ program.summary }}</p>
            <a class="btn btn-primary" href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

{% endblock %}

